@page "/Statastics"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Customer Statastics</h1>


<button class="btn btn-primary" @onclick="showchart">Show Histogram </button>

@code {
    void showchart()
    {

    }
}
